.mainLanding {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../../static/img/background-white-theme.svg");
}
html[data-theme="dark"] {
  background: #242424;
}
