.mainLanding {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../../static/img/rover-background.svg");
}
.landingcontainer {
  margin: 0 auto;
  max-width: 1370px;
}
