:root {
  --descBackground: #ffffff;
  --descTitle: #240934;
  --descBody: #8f8197;
}

.descMain {
  background: var(--descBackground);
  box-shadow: 0px 6.15706px 46.178px rgba(0, 0, 0, 0.1);
  border-radius: 15.3927px;
}
.descMain2 {
  background: var(--descBackground);
  box-shadow: 0px 6.15706px 46.178px rgba(0, 0, 0, 0.1);
  border-radius: 15.3927px;
}

.descMain:nth-child(1)::before {
  content: url("../../../static/img/Line1.png");
  position: absolute;
  left: -71px;
  top: 46%;
}

.descMain:nth-child(2)::before {
  content: url("../../../static/img/Line 2.png");
  position: absolute;
  left: -71px;
  top: 54%;
}

.descBody {
  margin: 25px 8px;
  padding: 50px 18px;
}

.descBody h2 {
  padding: 0px;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  color: var(--descTitle);
}

.descBody p {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: var(--descBody);
}

@media screen and (max-width: 947px) {
  .descMain:nth-child(n)::before {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .descMain:nth-child(n)::before {
    display: none;
  }
  .descBody {
    padding: 18px 4px;
  }
  .descBody h2 {
    font-size: 16px;
    line-height: 26px;
  }
  .descBody p {
    font-size: 13px;
    line-height: 24px;
  }
}

html[data-theme="dark"] {
  --descBackground: #2f2f3f;
  --descTitle: #e4e4e4;
  --descBody: #a0a0a0;
}
