:root {
  --roverLogo: url("../../../static/img/rover_logo2.svg");
  --roverText: #240934;
}

.homepageContainer {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  /* display: flex; */
  flex-direction: column;
}

.rover {
  width: 100%;
  height: 100vh;
}

.roverlogo {
  display: flex;
  justify-content: center;
  /* margin-top: 79px; */
  height: 166px;
}

.roverlogo {
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--roverLogo);
}

.roverSubText {
  margin-top: -23px;
  text-align: center;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-size: 40.9259px;
  line-height: 54px;
  /* identical to box height */
  color: var(--roverText);
  /* position: relative; */
  /* z-index: 4; */
}
.roverVideoText {
  text-align: center;
  font-family: "JetBrains Mono";
  font-style: normal;
  /* font-weight: 500; */
  width: 60%;
  font-size: 24px;
  /* line-height: 54px; */
  /* identical to box height */
  color: var(--roverText);
  text-align: center;
  margin: auto;
  margin-top: -3%;
}
.rovercli {
  margin-bottom: -8%;
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: contain;
  margin-top: 10%;
}

/* .vectorImg {
  margin-top: -4%;
  display: flex;
  justify-content: center;
  gap: 10%;
} */

html[data-theme="dark"] {
  --roverLogo: url("../../../static/img/rover_logo2_dark.svg");
  --roverText: #ffffff;
}

.roverNewTag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-bottom: 0px;
  margin-top: -2%;
}
.awsTag {
  margin-top: 2%;
}
.videoParent {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(#e66465, #9198e5); */
  margin-bottom: 5%;
}
.roverVideo {
  width: 70%;
  /* height: 486px; */
  margin: auto;
  margin-top: -7%;
  z-index: -1;
  position: relative;
}
.videoTag {
  background: radial-gradient(
    74.6% 74.6% at 50% 14.48%,
    rgba(244, 243, 243, 0) 70.13%,
    #ffffff 100%
  );
}
.videoTagDark {
  background: radial-gradient(
    74.6% 74.6% at 50% 14.48%,
    rgba(36, 36, 36, 0) 70.13%,
    #242424 100%
  );
}
.videoBlend {
  /* position: relative; */
  /* top: 2%; */
  /* margin-left: -27.9%; */
  width: 18%;
  margin-top: -21.7%;
  margin-left: 1.5%;
}
.videoBlendParent {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .roverlogo {
    background-size: 50%;
  }
  .roverSubText {
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
  }
  .roverNewTag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 0px;
    margin-top: -11%;
  }
  .awsTag {
    width: 47px;
    height: 28px;
    margin-top: 4%;
  }
  .roverVideo {
    height: 200px;
  }
  .roverVideoText {
    text-align: center;
    font-family: "JetBrains Mono";
    font-style: normal;
    /* font-weight: 500; */
    width: 100%;
    font-size: 12px;
    /* line-height: 54px; */
    color: var(--roverText);
    text-align: center;
    margin: auto;
    padding: 0px 10px;
  }
  .videoBlend {
    width: 18%;
    margin-top: -23.7%;
    margin-left: 1.5%;
  }
}
